*,
body,
html {
	margin: 0;
	padding: 0;
}
body{
    background-color: black;
    color: white;
}
.main {
	width: 100vw;
	height: max-content;
    margin-bottom: 50px;
    
}

.img-cont{
    width: 25%;
    min-width: 300px;
    /* aspect-ratio: 1/1; */
    margin: auto;
    margin-top: 50px;
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 250px 250px 250px 0px;
}
.name-cont, .day-cont, .time-cont, .track-cont, .url-cont{
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    
}
h3{
    font-size: 30px;
}
.name{
    font-size: 30px;
    width: fit-content;
}
.day{
    font-size: 25px;
}
.time{
    font-size: 25px;
}
.track{
    font-size: 25px;
}
a{
    color: blue;
    text-decoration: none;
    font-size: large;
}

.in-animate{
    animation: in .51s linear forwards;
}

@keyframes in {
    from{
        opacity: 0;
        translate: 0 10px;
    }
    to{
        opacity: 1;
        translate: 0;

    }
}

.fall {
    animation: fall 3s ease-out forwards;
    transform-origin: 0 100%;
}

@keyframes fall {
    0%{
        rotate: -45deg;
    }
    30%{
        rotate: -30deg;
    }
    60%{
        rotate: -60deg;
    }
}